<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DragonSP</title>
</head>
<body>
<h1>Sổ tay thu chi misa</h1>
<section>
    <table>
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${wallet.getId()}"></td>
        </tr>
        <tr>
            <th>Amount</th>
            <td th:text="${wallet.getAmount()}"></td>
        </tr>
        <tr>
            <th>Image</th>
            <td th:text="${wallet.getImage()}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>